html>body {
  font-size: 16px; 
  font-size: 68.75%;
} /* Reset Base Font Size */

body {
  font-family: Verdana, helvetica, arial, sans-serif;
  font-size: 68.75%;
  background: #fff;
  color: #333;
}

a img { border: none; }
